
*{
    margin: 0;
    padding: 0;
    font-family: Mulish, sans-serif;
}
html{
    background-color: #fcfdfd;
}
.nav-container{
background-color: white;
 box-shadow: 0 0px 5px grey;   
padding: 25px;
display: flex;
justify-content: space-around;
position: sticky;
z-index: 10;
right: 0;
left: 0;
top:0;
}
.logo-img{
    

    width: 30px;
    height: 40px;
}
.left{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.right{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.right >div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.nav-container1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid gray;
    padding-bottom: 10px;
    margin-top: 30px;
}

.container{
    width: 75vw;
    margin:auto ;
   padding-top: 20px;
   

}
.nav-container1 > .right-half{
    display: flex;
    gap: 20px;
     ;
}
/* Card Story*/
.card{
    padding: 17px;
    padding-bottom: 0px;
    width: 250px;
    position: relative;
    
    
}
.card-img{
    width: 250px;
}
.card p{
    margin: 5px 0;
}
.rating-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 0.1px solid grey;
}
.bullet{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(23, 21, 21);
}
.offer{
    display: flex;
    padding: 10px 0px;
    border-bottom: 0.1px solid grey;
    font-size: ;
    color: #393c41;

}
.cards-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 40px;
    
}
.card:hover{
  outline: 0.1px solid grey;
  box-shadow: 1px 1px 1px 1px grey;
}
.star{
    background-color: rgb(226, 109, 12);
    display: flex;
    align-items: center;
    padding: 2px 5px 2px 5px ;
    color: white;
    font-size: 12px; 
    justify-content:space-evenly;
}
.starlogo{
    font-size: 14px !important;
}
.card::before{
    content:'PROMOTED';
    display:block;
    position:absolute;
    background-color:#393c41;
    color: white;
    top: 17px;
    padding: 4px;
    left: 4px;
}
.btn{
    border: none;
    font-weight: bold;
    color: blue;
    margin: 10px auto;
    display: block;
    background-color: white;
    visibility: hidden;
}
.card:hover .btn{
    visibility: visible;
}

/* footer*/
.footer{
   background-color: black;
   display:grid;
   grid-template-columns: repeat(4,1fr);
   padding: 100px;
   

}
.grid-item{
    display: flex;
    flex-flow:column wrap;
    borer: 1px solid yellow;
    color: white;
    gap: 15px;
}
.footer img{
    width: 250px;
    border: 1px solid white;
    border-radius: 10px;
    
}
.footer a{
    color: white;
    text-decoration: none;
    font-weight: 300;
}
.footer a:hover{
    font-weight: bold;
}
.footer img:hover{
    width: 255px;
}